<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <script src="https://kit.fontawesome.com/51cbd52192.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/carrito.css">
</head>
<body>
    <header></header>

    <main>

        <h2>Carrito</h2>


        <div class="contenedor-padre">

            <label class="label-producto" for="producto">Producto</label>

            <div class="visor-producto"></div>

            
            <div class="btn-más">
                <button class="btn-más">+</button>
            </div>

            <div class="div-núnero-de-productos">
                <input class="núnero-de-productos" type="text" name="" id="">
            </div>

            <div class="btn-menos">
                <button class="btn-menos">-</button>
            </div>

        </div>


        <div class="div-btn-quitar-último">
            <button class="btn-quitar-último">Quitar último producto</button> 
          </div>

          <div class="div-btn-vaciar-carrito">
            <button class="btn-vaciar-carrito">Vaciar carrito</button> 
          </div>






        <section class="total">

           <!--  <div class="div-caja-subtotal">
                <div class="div-label-subtotal">
                    <label class="label-subtotal" for="">Subtotal carrito</label>
                </div>
    
                <div class="div-input-subtotal">
                    <input class="input-subtotal" type="text" name="" id="">
                </div>
            </div> -->
    
    
<!--             <div class="div-caja-total">
                <div class="div-label-total">
                    <label class="label-total" for="">Total carrito $</label>
                </div>
    
                <div class="div-input-total">
                    <input class="input-total" type="text" name="" id="">
                </div>
            </div> -->
        </section>

        <div class="total-de-carrito">
                <span class="span-total">Total carrito $<input class="input-total" type="text" name="" id=""></span>
        </div>


        <div class="div-btn-finalizar-compra">
            <button class="btn-finalizar-compra">Finalizar compra</button>
        </div>


    </main>

    <footer></footer>

    
</body>
</html>