<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <!-- 
    ****************link fuentes Google******************* -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <!-- **************************link iconos Awesome********************** -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/51cbd52192.js" crossorigin="anonymous"></script>
    <title>Clave de Sol</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div>
                <img class="logo" src="img/claveLogo.jpg" alt="logo Clave de sol">
            </div>

            <div class="ingreso">
                <p class="header-text"><a href="/login"> <i class="fas fa-sign-in-alt ingreso  "></i></a></p>
            </div>

            <div class="registro">
                <p class="header-text"><a href="/register"><i class="fas fa-user-plus registro  "></i> </a></p>
            </div>

            <div class="carrito">
                <p class="header-text"><a href="/carrito"><i class="fa-solid fa-cart-shopping carrito"></i></a></p>
   
            </div>
            

            <div class="lupa">
                <p class="header-text"><a href="#"><i class="fas fa-search lupa "></i></a></p>
            </div>
        </div>
       <div class ="nabvar-tablet">
        <nav class="main-navbar">
            <ul>
              <li><a href="#"> <strong>Ofertas</strong> </a></li>
              <li> <a href="/productCart"><strong>Tienda Online</strong></a></li>
              <li><a href="/productdetail"><strong>Productos</strong></a></li>
           </ul>
            </nav>
        </div>

        <nav class="navbar-menu">
            <div class="hamburger-button">
                <a href="#" class="hamburguer-button">
                    <i class="fas fa-bars  barra"></i>
                </a>
            </div>
      </nav>



    </header>

    <main>

        
        <div class=" main1">
            <img class=" guitarra2" src="img/guitarra2.jpg" alt="">
        </div>
    </main>

    <footer>
        <div class="quienes-somos">
            <a class="text-footer" href="#"> <strong>Quienes somos</strong> </a>
        </div>

        <div class="iconos-footer">
            <div>
                <a class="text-footer" href="#"> <strong> Seguinos</strong> </a>
            </div>

            <div class="instagram">
                <img class="instagram" src="img/instagram.png" alt="">
            </div>

            <div class="twitter">
                <img class="twitter" src="img/twitter.png" alt="">
            </div>

            <div class="facebook">
                <img class="facebook" src="img/facebook.png" alt="">
            </div>
        </div>

        <div class="parrafo-footer">
            <p>La venta los productos publicados está sujeta a la verificación de stock. Los precios online para los
                productos presentados/publicados en www.Clavedesol.com son válidos únicamente para la compra vía
                internet en la presente página. © 2022 Clave de Sol All Rights Reserved.</p>
        </div>
    </footer>
</body>

</html>