/* *************** Estilos Main ******************* */

.notFound {
    width: 30%;
    padding-bottom: 5%;
 
  
}

.notfoundContenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.notFoundH2{
  padding:2%
}