/* @import url(index.css); */


main .container{
    background-color: #ebebeb;
    margin: auto;
    margin-top: 5px;
   
}

section{
    font-size: 24px;
    margin: auto;
    width: 90vw;
}

.formulario-instrumentos{
    /* border: dotted red 1px; */
    text-align:center;
    background-color: rgb(214, 240, 226);
    margin: auto;
    margin-bottom: 50px;
}

 /* PROBANDO */

 .productHolder{ 
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: rgba(214, 240, 226,0.8); */

}

.card{
    background-color: white;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 300px;
    text-align: center;
    min-height: 370px;
    border-radius: 1rem;
    margin: 1.5rem;
    transition: 0.3s;
    padding: 15px;

}

.im{
    height: 100%;
    width: 100%;        
    border: 5px solid black;
}
 .im img{
    max-height: 100%;
    max-width: 100%;
    display: block;
} 

.vacio{
    /* background: white;
    border: dotted black 1px;
    width: 500px; */ 

    height: 341px;
    margin: 183px;
}



.card:hover{
    transform: scale(1.1);
}

.cardText *{
    margin: 0.5rem;
}

.categoryText{
    font-weight: 422;
    opacity: 0.7;
}

.brandText{
    color:#4287f5
}
.priceText{
    font-size: large;
}

.offerText{
    font-size: small;
}
.btn{
    display: inline-block;
    font-size: 1.2rem;
    color:#333;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-top: 2.5rem;
    border-radius: 2rem;
    box-shadow:  1px 2px 1rem rgba(0,0,0,.1);
    transition: background-color .5s;
}
.btn:hover{
    background-color: rgba(0,0,0,.1);
}


 /* PROBANDO */


 @media (min-width: 425px){

    section .articulos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section .titSection{
        width: 100%; 
    }
       
    .articulo,  .formulario-instrumentos {
        width: 44%;  
    }

 /*    .articulo .descripcion{
        width: 40%;
        display: none;
    }

    .articulo:hover .descripcion{
        display: block;
    }
      */
}

@media(min-width: 768px){
    .articulo,  .formulario-instrumentos {
        width: 80%;  
    }
}