<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

        <h2 class="notFoundH2">Requieres permisos de administrador</h2>
        <div class="notfoundContenedor">
          <img class="notFound" width="100px" src="/img/notFound.jpg" alt="Usuario No Encontrado">
        </div>

    <%- include("./partials/footer") %>
  </body>


</html>

   