<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <main class="container">

        <section class="principal">

  <!--           <form action="/" class="formulario-instrumentos" onchange="javascript:tipo()">
                <label for="instrumento">Elige un tipo:</label>
                
                <select id="instrumento" name="instrumento">
                <option value="" disabled selected>Elige un Tipo</option>
                <option value="cuerda">Cuerda</option>
                <option value="percución">Percución</option>
                <option value="aire">Aire</option>
                <option value="empty">Empty</option>
                </select>
                <input type="submit" value="buscar">
            </form> -->

            <div class="productosMain">
                <article>
                    <div class="division"><img class="imagenArticulo" src="img/main/main_bateria2.png" alt="Batería"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$200</p>
                            <p class="oferta">10% off</p>
                            <p class="articulo">Batería</p>
                            <div class="botonD"><button class="boton">Comprar</button></div>
                        </div>
                        
                    </div>
                </article>
                <!-- <article>
                    <div class="division"><img class="imagenArticulo" src="img/main/main_guitarra1.png" alt="Guitarra clásica"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$100</p>
                            <p class="oferta">10% off</p>
                            <p class="articulo">Guitarra</p>
                            <div class="botonD"><button class="boton">Comprar</button></div>
                        </div>
                        
                    </div>
                </article>
                <article>
                    <div class="division"><img class="imagenArticulo" src="img/main/main_trombon.png" alt="Trombon"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$10</p>
                            <p class="oferta">5% off</p>
                            <p class="articulo">Trombón</p>
                            <div class="botonD"><button class="boton">Comprar</button></div>
                        </div>
                        
                    </div>
                </article>
                <article>
                    <div class="division"><img class="imagenArticulo" src="img/main/main_violin.png" alt="Violín"></div>
                    <div class="informacion">
                        <div><i class="fa-solid fa-guitar guitarraIcono"></i></div>
                        <div class="precioOferta">
                            <p class="precio">$10</p>
                            <p class="oferta">5% off</p>
                            <p class="articulo">Violín</p>
                            <div class="botonD"><button class="boton">Comprar</button></div>
                        </div>
                        
                    </div>
                 </article> -->
            </div>
        </section>

       
        </section>
    </main>

    <%- include("./partials/footer") %>
</body>

</html>