<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <main  class="form"> 

        <h2>Crear un Producto</h2>

        <form action="/productCreate" method="POST" enctype="multipart/form-data">
            <!-- Nombre -->
            <div class="control-form" >
              <label for="name">Producto</label>
              <input class="campo-texto" type="text" required  placeholder="Guitarra" name="name"  id="name">
            </div>
            <!-- Precio -->
            <div class="control-form">
              <label for="price">Precio</label>
              <input class="campo-texto" type="number" required placeholder="($)100" name="price"  id="price" />
            </div>

            <!-- Descuento -->
            <div class="control-form">
              <label for="discount">Descuento</label>
              <input class="campo-texto" type="number" required placeholder="10(%)" name="discount"  id="discount" />
            </div>

            <!-- Tipo -->
            <div class="control-form">
              <label for="type" class="">Tipo</label>
              <select name="type" id="type" class="form-input">
                <option value="cuerdas">Cuerdas</option>
                <option value="viento">Viento</option>
                <option value="percusion">Percusión</option>
                <option value="electrico">Eléctrico</option>
              </select>
            </div>  
            <!-- Categoría -->
            <div class="control-form">
              <label for="category" class="form-label">Categoría:</label>
              <select name="category" id="category" class="form-input">
                <option value="">Elegí</option>
                <option value="in-sale">En oferta</option>
                <option value="visited">Últimos agregados</option>
              </select>
            </div>      

            <!-- Descripción -->
            <div class="control-form" >
              <label for="descripcionProducto">Descripción</label>
              <input class="campo-texto" type="textarea" maxlenght="100" placeholder="Nuevo" name="desciption"  id="descipcionProducto">
            </div>

            <!-- Imagen -->
            <div class="control-form">
              <label for="image">Imagen</label>
              <input class="campo-texto" type="file" name="image"  id="image" required>
            </div>

            <!-- Botón -->
            <div class="boton-ingresar" >
               <button class="button-login" type="submit"> Guardar </button>  
            </div>
            
          </form>
    </main>

    <%- include("./partials/footer") %>
</body>

</html>

   