<footer>
    <div class="quienes-somos">
        <a class="text-footer" href="#"> <strong>Quienes somos</strong> </a>
    </div>
    <div class="iconos-footer">
        <div>
            <a class="text-footer" href="#"> <strong> Seguinos</strong> </a>
        </div>
        <div class="instagram">
            <img class="instagram" src="img/instagram.png" alt="">
        </div>
        <div class="twitter">
            <img class="twitter" src="img/twitter.png" alt="">
        </div>
        <div class="facebook">
            <img class="facebook" src="img/facebook.png" alt="">
        </div>
    </div>
    <div class="parrafo-footer">
        <p>La venta los productos publicados está sujeta a la verificación de stock. Los precios online para los
            productos presentados/publicados en www.Clavedesol.com son válidos únicamente para la compra vía
            internet en la presente página. © 2022 Clave de Sol All Rights Reserved.</p>
    </div>
</footer>