<header>
    <div class="top-header">
        <div>
            <a href="/"><img class="logo" src="/img/claveLogo.jpg" alt="logo Clave de sol"></a>
        </div>
        
        <% if (locals.isLogged) { %>
            
                    
            <div class="carrito">
                <p class="header-text"><a href="/productos/carrito/"><i class="fa-solid fa-cart-shopping carrito"></i></a></p>
            </div>
            <div class="ingreso">
                <p class="header-text"><a href="/usuarios/logout"> <i class="fas fa-sign-in-alt ingreso  "></i></a></p>
            </div>

            <div style="text-align:center" class="ingreso">
                <a href="/usuarios/profile"><img src="/img/avatars/<%= locals.userLogged.avatar %>" width="40" style="border-radius: 100%;"></a>
                <p style="background-color:aliceblue">Hi User <%=  locals.userLogged.name %></p>
            </div>
        <% } else { %>
            <div class="ingreso">
                <p class="header-text"><a href="/usuarios/login"> <i class="fa-solid fa-user-check ingreso  "></i></a></p>
            </div>
            <div class="registro">
                <p class="header-text"><a href="/usuarios/register"><i class="fas fa-user-plus registro  "></i> </a></p>
            </div>
            <div class="lupa">
                <p class="header-text"><a href="#"><i class="fas fa-search lupa "></i></a></p>
            </div>  
        <% } %>
           
        

    </div>
    <!-- http://localhost:3000/ -->
    <nav>
        <ul class="main-navbar">
          <!-- <li><a href="#"> <strong>Ofertas</strong> </a></li> -->
          <% if (locals.userLogged && locals.userLogged.email =="admin@clavedesol.com") { %>
            <li> <a href="/productos/create/"><strong>Tienda Online</strong></a></li>
           
          <% } %>
          

          <li><a href="/productos/"><strong>Productos</strong></a></li>
       </ul>
    </nav>
   
    <nav class="navbar-menu">
        <div class="hamburger-button">
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars  barra"></i>
            </a>
        </div>
  </nav>
</header>