<header>
    <div class="top-header">
        <div>
            <img class="logo" src="img/claveLogo.jpg" alt="logo Clave de sol">
        </div>
        <div class="ingreso">
            <p class="header-text"><a href="/login"> <i class="fas fa-sign-in-alt ingreso  "></i></a></p>
        </div>
        <div class="registro">
            <p class="header-text"><a href="/register"><i class="fas fa-user-plus registro  "></i> </a></p>
        </div>
        <div class="carrito">
            <p class="header-text"><a href="/carrito"><i class="fa-solid fa-cart-shopping carrito"></i></a></p>

        </div>
        
        <div class="lupa">
            <p class="header-text"><a href="#"><i class="fas fa-search lupa "></i></a></p>
        </div>
    </div>
   
    <nav>
        <ul class="main-navbar">
          <li><a href="#"> <strong>Ofertas</strong> </a></li>
          <li> <a href="/productCart"><strong>Tienda Online</strong></a></li>
          <li><a href="/productdetail"><strong>Productos</strong></a></li>
       </ul>
    </nav>
   
    <nav class="navbar-menu">
        <div class="hamburger-button">
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars  barra"></i>
            </a>
        </div>
  </nav>
</header>